<h1>New addition</h1>

<form action="/wizard_add">

 <label for="dog">Add this:</label>
 <input id="dog" type="text" name="first_num">

 <label for="cat">To this:</label>
 <input id="cat" type="text" name="second_num">

<button>Add!</button>

</form>
