<h1>New division</h1>

<form action="/wizard_divide">

<label for="tired">Divide this:</label>
<input id="tired" type="text" name="first_num">

<label for="go">by this:</label>
<input id="go" type="text" name="second_num">

<button>Divide!</button>

</form>
