<h1>New multiplication</h1>

<form action="/wizard_multiply">

<label for="door">Multiply this:</label>
<input id="door" type="text" name="mult_this">

<label for="floor">By this</label>
<input id="floor" type="text" name="by_this">

<button>Multiply!</button>

</form>
