<h1>Subtraction</h1>

<dl>
<dt>First number</dt>
<dd><%= @subtract_this %></dd>
<dt>Second number</dt>
<dd><%= @from_this%></dd>
<dt>Result</dt>
<dd><%= @result %></dd>
</dl>

</dl>
<a href="/subtract">Do another subtraction</a>
