<h1>New subtraction</h1>

<form action="/wizard_subtract">
<label for="pink">Subtract this:</label>
<input id="pink" type="text" name="subtract_this">

<label for="purple">from this:</label>
<input id="purple" type="text" name="from_this">

<button>Subtract!</button>

</form>
